@import url("https://fonts.googleapis.com/css2?family=Jockey+One&family=Open+Sans&family=Poppins&display=swap"); /* ========== GENERIC ========== */
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body,
html {
  
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
/* Header actu wow */
#header_actu

#header_wow{
  background:center fixed no-repeat url(img/header-wow.png);
  background-size: cover;
}
/* EFFETS */
.cadre {
  border: 1px solid white;
  box-shadow: -10px 10px 20px rgb(0, 0, 0);
}
/* TITRE */
.title_imp {
  font-family: 'Staatliches', cursive;
  text-align: center;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  color: #00a0ec;
  font-weight: bold;
  font-size: 2em;
  text-shadow: 1px 1px 2px black;
  text-transform: uppercase;
}
.title_inf {
  font-family: 'Staatliches', cursive;
  margin: 10px 10px;
  color: #00a0ec;
  text-shadow: 1px 1px 2px black;
}
.title_shadow {
  filter: drop-shadow(0px 0px 20px rgb(0, 233, 250));
}
/* TEXTE */
.p_format {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4em;
  text-align: justify;
  padding: 5px;
  text-indent: 1rem;
}

.p_format_bigger {
  font-family: "Open Sans", sans-serif;
  margin: 10px;
  line-height: 1.5em;
  font-size: 1.4em;
  text-align: justify;
  padding: 20px;
  text-indent: 1rem;
}
.p_center {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5em;
  text-align: center;
  padding: 10px;
}

.scroll {
  overflow: scroll;
}

/* TEXT CARTE ACTU */
.text_actu {
  padding: 10px;
}
/* FLOAT */
.float_left {
  float: left;
}
.float_right {
  float: right;
}
/* FLEX */
.col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.row {
  display: flex;
  justify-content: space-evenly;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
}
.center {
  display: flex;
  align-items: center;
}
.space {
  display: flex;
  justify-content: space-evenly;
}
/* MAIN */
/* .main {
  background: center fixed no-repeat url(/img_actu/background-char-blue.2.2.png);
  background-size: cover;
} */
/* LIEN ANCRE */
#ancre a {
  font-size: 0.8em;
  text-decoration: none;
  color: white;
}
/* IMAGE */

/* IMAGE ANCRE */
.d_img {
  margin: auto;
}
.d_img img {
  width: 10vw;
  border-radius: 50%;
}
.d_img img:hover {
  transform: scale(1.3);
  transition: 3s;
}
.pic_pres_wow {
  margin: 10px 20px;
}
/* IMAGE FANSITE3 (SERIE PHARE) */
#img_sc2 {
  margin: auto;
}
.img_size {
  width: 30vw;
  padding: 5px;
}
.img_resize {
  width: 230px;
}

.img_size_zt {
  width: 20vw;
  margin: 10px 20px;
}
#toss {
  width: 13vw;
  margin: 10px 20px;
}
.pic_diab {
  margin: 10px 20px;
}
/* IMAGE ACTUALITE FANSITE 2 */
.actu_pix {
  width: 25vw;
}
/* IMAGES RESEAUX */
.pic_reseaux {
  width: 20%;
  filter: drop-shadow(10px 10px 5px rgb(0, 0, 0));
  opacity: 0.5;
}
.pic_reseaux:hover {
  filter: drop-shadow(2px 2px 10px white);
  opacity: 1;
  transition: 0.5s;
}
#pic_fb {
  width: 70%;
  filter: drop-shadow(10px 10px 5px rgb(0, 0, 0));
  opacity: 0.5;
}
#pic_fb:hover {
  filter: drop-shadow(2px 2px 10px white);
  opacity: 1;
  transition: 0.5s;
}

/* VIDEO */
#sc_movie {
  margin: 30px auto;
}
/* ARTICLE */
.article {
  width: 80%;
  margin: 100px auto;
  padding: 20px;
  background: center fixed url(img/background.01.jpg);
  background-size: cover;
  color: white;
  width: 80%;
}
/* PRESENTATION  WOW FANSITE3*/

.cls_wow {
  width: 48%;
  height: 230px;
  margin: 5px 5px;
  font-size: 0.95em;
}
.cls_wow h3 {
  margin: 0.5em;
  text-align: center;
}
.cls_wow:hover {
  border: 2px solid #00a0ec;
  box-shadow: 1px 1px 5px white;
}
.cls_wow:hover h3 {
  color: white;
}
/* CARD ACTUALITE FANSITE 2 */
.actu_card {
  width: 70%;
  padding: 5px;
  margin: 0 auto;
}
.actu_card:hover {
  border: 1px solid #00a0ec;
  transform: translateX(-20px);
}
.actu_card:hover h3 {
  color: white;
}

.date_actu {
  margin-left: 10px;
  color: rgb(0, 233, 250);
}

.scp{
  background: rgba(0, 0, 0, 0.521);
  border: 1px solid white;
  margin: 50px;
}
/* FOOTER */
.footer {
  background: center no-repeat url(img_actu/footer-jaina.jpg);
  background-size: cover;
  margin: 150px 0 0 0;
  height: 350px;
}
.foot_menu a {
  margin: 50px auto;
  text-decoration: none;
  font-size: 1.5em;
  color: white;
  opacity: 0.7;
}
.foot_menu a:hover {
  color: white;
  opacity: 1;
  text-shadow: 5px 5px 10px rgb(0, 233, 250);
  transition: 0.5s;
}
/* --------------------------------------------------------------------------------------------------------------------- */
body{
  background: center fixed no-repeat url(/img_actu/background-char-blue.2.2.png);
  background-size: cover;
}
:root {
  --prim-clr: black;
  --sec-clr: white;
  --ter-clr: #011937;
  --nav-size: 80px;
  --gradient4: linear-gradient(
    83deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 0.8225665266106442) 52%,
    rgba(255, 255, 255, 0.9009978991596639) 100%
  );
}

.centered {
  margin: 0px auto;
}
a:link:active,
a:visited:active,
a:link {
  text-decoration: none;
  color: cornflowerblue;
}
.name,
aside .title-aside {
  font-style: italic;
}
/* ======== HEADER ========== */
.fansite body,
.fansite4 body,
.fansite5 body,
.fansite body {
  margin: 0;
}
.fansite main,
.fansite4 main,
.fansite5 main,
.fansite6 main {
  color: var(--sec-clr);
  padding-top: 100px;
}
header {
  display: flex;
  flex-direction: column;
}
.nav {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.719);
  
}
.banner {
  height: 350px;
  position: relative;
  top: var(--nav-size);
}
.nav a {
  font-size: 1em;
  color:white;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  margin-left: 20px;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black;
  
}
.nav a:hover{
  
  color: #00a0ec;
  text-decoration: underline;
  text-shadow:0px 0px 10px white;
  transition: 1s;
}
/* ========= BANNERS============ */
.banner_actu{
  position: relative;
  top: var(--nav-size);
  height: 350px;
  background: center no-repeat url(img/header-starcraft.02.png);
  background-size: cover;
}

.banner_wow{
  position: relative;
  top: var(--nav-size);
  height: 350px;
  background: center no-repeat url(img/header-wow.png);
  background-size: cover;
  
}

.fansite .banner {
  position: relative;
  top: var(--nav-size);
  height: 350px;
  background: center no-repeat url(img/header-global.png),
    url(img/background-header.jpg);
  background-size: contain;
}
.fansite4 .banner {
  position: relative;
  top: var(--nav-size);
  height: 350px;
  background: center no-repeat url(img/header-diablo4.png),
    url(img/background-header.jpg);
  background-size: cover;
}
.fansite5 .banner {
  position: relative;
  top: var(--nav-size);
  height: 350px;
  background: center no-repeat url(img/blizzcon-header.png),
    url(img/background-header.jpg);
  background-size: cover;
}
.fansite6 .banner {
  position: relative;
  top: var(--nav-size);
  height: 350px;
  background: center no-repeat url(img/header-wow.png),
    url(img/background-header.jpg);
  background-size: cover;
}
/* ======== FANSITE6 =========== */
.fansite6 {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.fansite6 a:visited {
  color: cornflowerblue;
}
.fansite6 .contact {
  margin: 50px auto;
  margin-top: 200px;
  width: 600px;
}
.fansite6 td img {
  height: 100px;
}
.fansite6 table,
th,
td {
  border: 2px solid var(--sec-clr);
}
.fansite6 table {
  margin: 50px auto;
  border-collapse: collapse;
}
.fansite6 h1 {
  text-transform: uppercase;
}
.fansite6 .comm h1,
p {
  text-align: center;
  margin: 30px auto;
}
.comm p {
  margin-top: 40px;
}
.fansite6 th {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  padding: 5px 10px;
}
.fansite6 table td {
  font-family: "Open Sans", sans-serif;

  padding: 10px 20px;
  font-size: large;
}
.fansite6 fieldset {
  margin: 50px auto;
  width: 500px;
}
.fansite6 fieldset label {
  display: inline-block;
  margin-bottom: 30px;
  width: 200px;
}
.fansite6 main {
  background: center no-repeat url(img/background-char-blue.2.2.png);
  background-size: cover;
  background-attachment: fixed;
}

/* ========= FANSITE 5 ======== */
.fansite5 {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  /* background: center no-repeat url(img/background-char-blue.2.2.png);
  background-size: cover;
  background-attachment: fixed; */
}
.fansite5 a:visited {
  color: cornflowerblue;
}
.fansite5 main {
  background: center no-repeat url(img/background-char-blue.2.2.png);
  background-size: cover;
  background-attachment: fixed;
  font-size: 1.1em;
  line-height: 1.6;
}
.fansite5 h1 {
  color: var(--sec-clr);
}
.fansite5 .intro {
  margin-top: 100px;
}
.fansite5 h1 {
  margin-left: 20%;
}
.fansite5 p {
  margin-left: 5%;
  margin-right: 3%;
}
.fansite5 section img {
  border-radius: 5px;
}
figcaption {
  margin-top: 5px;
  font-style: italic;
  font-size: small;
}
.fansite5 .demoing p {
  padding-top: 50px;
}

/* ============ FANSITE 4 ========= */
.fansite4 {
  margin: 0;
}
.fansite4 main {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  line-height: 1.5;
  background: center no-repeat url(img/background-char-blue.2.2.png);
  background-size: cover;
  background-attachment: fixed;
}
.fansite4 .title {
  padding-left: 25%;
  /* text-align: center; */
}
.fansite4 .intro {
  padding: 15px;
  padding-left: 10px;
  /* height: 100px; */
}
.fansite4 aside {
  font-size: 18px;
}
.fansite4 .title {
  font-family: "Poppins", sans-serif;
}
.fansite4 h2 {
  text-align: center;
}
.iframe {
  display: flex;
  justify-content: center;
  margin: 15px 10px;
}
.fansite4 section {
  margin-bottom: 50px;
}
.fansite4 aside {
  width: 20%;
  padding: 5px 10px;
  border: 3px solid var(--sec-clr);
  float: right;
  text-align: justify;
  text-justify: inter-word;
  text-align: center;
}
.info {
  width: 70%;
}
.aside_g h4,
.aside_g p {
  margin: 5px 8px;
  text-align: justify;
  text-justify: inter-word;
  text-align: center;
}
.fansite4 a:visited {
  color: cornflowerblue;
}
/* =========== FANSITE 1 ========== */
.fansite {
  margin: 0;
  color: var(--sec-clr);
  text-align: center;
}
.fansite main {
  background: url(img/background-char-blue.2.2.png);
}
.fansite h1 {
  text-transform: uppercase;
  font-family: "Jockey One", sans-serif;
}
.fansite p {
  font-size: 22px;
  padding: 20px 40px;
  font-family: "Open Sans", sans-serif;
  line-height: 2;
  text-align: justify;
  text-justify: inter-word;
}
.fansite a:visited {
  color: cornflowerblue;
}
